header {
    color: White;
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(to right, rgb(100, 157, 226), rgb(43, 0, 128));
}

#forecast-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#current {
    padding: 20px;
    margin: 20px;
}

#current-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.current-main {
    margin: 10px;
}

.card-text { 
    color: white;
}

.card {
    margin: 20px; 
    color: white;
    border:rgb(37, 59, 72);
    background-color: rgb(37, 59, 72);
}

#forecast-container {
    padding: 20px;
    margin: 20px;
}


#container {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

#search-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
}

input {
    width: 250px;
}

#search-container button {
    width: 100px;
    margin: 10px;
}

#main {
    width: 80%;
}

#list {
    padding: 0;
}
